{% extends 'base.html.twig' %}

{% block title %}Asso Lamp - Agir{% endblock %}

{% block body %}
<div class="container-fluid">

<div class="row d-flex justify-content-center">
<div class="agi col-md-4 my-5 text-center">
<h4>J'agis avec une donation</h4>
    <p>Grâce à votre générosité l'association Lamp pour le développement continue à assisté de plus en plus de gens dans le besoin. Merci!</p>
    <a href="https://www.helloasso.com/associations/association-lamp-pour-le-developpement-du-senegal/formulaires/1" target="_blank"><span class="don">Faire un don</span></a> 
</div>
    <div class="agi col-md-6 my-5 text-center">
    <h4>Je deviens Bénévole</h4>
        <p class="text-center">vous pouvez aider de plusieurs façons.Nous avons besoin de nombreux métiers au sein des secteurs d'intervention de l'association.
        Si aider les autres vous passione, et aussi défendre une bonne cause vous tient à coeur, contactez nous afin de rejoindre nos équipes ou créer votre propre équipe.</p>
    <b> <i class="fa-solid fa-phone"></i> Par téléphone au +33 7 98 57 68 24</b> <br>
    <b><i class="fa-solid fa-at"></i> Adresse Mail: lampdevs@gmail.com</b>
</div>
</div>
</div>
{% endblock %}
