@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit&display=swap');


    $primary: #F2F2F2;
    $secondary: #025E73;
    $text: #011F26;
    $disable: #A5A692;
    $active: #BFB78F;
    $dark: #3D5A73;
    $texLight:#f5f5f5;


body{
    position: relative;
    min-height: 90vh;
    padding-top: 0;
}
h2{
    text-transform: uppercase;
    font-size: 2.5;
}
h6{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}.header-custom{
    // margin-top: 100px;
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    position: static;
    min-height: 300px;
    z-index: -100;
}.header-custom, .hc-nous{
    background: url(../images/qui_sommes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;
    background-position: center;
}
.header-custom, .hc-agir{
    background: url(../images/header-agir.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;
    background-position: center;
}
.header-custom, .hc-mission{
    background: url(../images/lamp_pour_le_developpement.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;
    background-position: center;
}.header-custom,.hc-evenements{ 
    background: url(../images/header-event.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;
    background-position: center;
}
.header-custom, .hc-actu{
    background: url(../images/header-article.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;
    background-position: center;
}
.header-custom, .hc-contact{
    background: url(../images/qui_sommes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;
    background-position: center;
}
.titre-prin-pag{
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom:10px;
    text-align: center;
}.sous-titre-prin{
    font-size: 1.5rem;
    margin-top: 80px;
    margin-bottom: 20px;
}
.para-present{
    font-size: 1rem;
    text-align: center;
}
body > main > div > div > section:nth-child(1) > div > div.col-lg-6.my-4.soutient.landing-head > a{
    font-size: 1.5rem;
}
h1{
    color: $texLight;
    
}
.img-list-admin{
    max-width: 150px;
}

/* ----------Start Burger Menu */

/* show responsive menu and position at the right of the screen */
#menu {
display: none; 
margin: 0;
right: 0;
top: 0;
/* height: 100vh; */
z-index: 99;
transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
/* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #hamburger_icon {
        display: block;
        position: relative;
        margin-top: 56px;
        margin-right: 50px;
        width: 63px;
        height: 28px;
        z-index: 100;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #hamburger_icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        margin-bottom: 5px;
        background: #ededed;
        border-radius: 3px;
        z-index: 100;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }
    /* set the 3 spans position to look like a hamburger */
    #hamburger_icon span:nth-child(1) {
        top: 0px;
        transform-origin: left top;
    }
    #hamburger_icon span:nth-child(2) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    #hamburger_icon span:nth-child(3) {
        top: 24px;
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
    }
    /* change color when opening the menu */
    #hamburger_icon.open span {
        background: #f5F5F5;
    }
    /* the first span rotates 45° \ */
    #hamburger_icon.open span:nth-child(1) {
        width: 110%;
        transform: rotate(45deg);
    }
    /* the second span disappears */
    #hamburger_icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    /* the last span rotates -45° / */
    #hamburger_icon.open span:nth-child(3) {
        width    : 110%;
        transform: rotate(-45deg);
    }
/* ------Fin Burger Menu */
.full-screen-menu,.menu-lien{
    background-color: #282921ea;
    position: relative;
    width: 100%;
    height: 100%;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    color: white;
    font-size: 3rem;
    
}.full-screen-menu,.b-menu{
    position: absolute;
    right:  20%;
    list-style: none;
    margin-top: 20px;

}.full-screen-menu,.menu-li,.lien-li{
    right: 0 ;
    font-size: 3rem;
    letter-spacing: 4px;
    margin-top: 25px;
    font-weight:600;
    text-transform: uppercase;
    color: white;
    padding: 15px;
}
.full-screen-menu,.menu-lien:hover{
    color:#09404d ;
}
header{
    background-color: #09404d ;
    width: 100%;
}video{
    // min-height: 100%; 
    height: auto;
    width: 100%;
    // position: absolute;
    z-index: -99;
    background-size: cover;
    display: block;
    opacity: 0.6;
    left: 0;
    top:15%;
}#log{
    display: block;
    transform: translate(10px, 10px);
    max-width: 100px;
    height: auto;   
}.bloc2-he{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.entete-agir{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.bloc1-he{
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}.don{
    background-color:#F2A71B;
    padding: 5px 60px;
    text-transform: uppercase;
    margin-bottom: 20px;  
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    text-decoration: none;
    padding: 5px 60px;
    margin-bottom: 20px;  
    transform: translate(30px);
    border-radius: 50px;
}.don:hover{
    background-color:#011F26;
    color: white;
    transition: 0.6s;
}.don-li{
    color:#011F26;
    transform: translateY(-70%);
    font-size: 1rem;
}.ente-t{
    text-transform: uppercase;
    color: white;
    transform: translate(60px, 70px);
}
.titre-asso{
    font-size: 3rem;
}
.lien-titre{
    text-transform: uppercase;
    color:$texLight;
    font-size: 4rem;  
    text-align: center;
    background-color: #011f268e;
    padding: 10px;
    border-radius: 10px;
}.lien-titre-agir{
    font-size: 3rem;
    color: $texLight;
    text-align: center;
}
.lien-present{
    font-size: 2rem;
    color:$text
}
.landing-head{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    min-height: 500px;

}.nous{
    background-image: linear-gradient(#cdc5c558,#cdc5c5db) ,url(../images/mikael-blomkvist.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}.imag-nous{
    min-width: 300px;
}
.mission{
    background-image: linear-gradient(#bfb78f7c,#bfb78fa9) ,url(../images/qui_sommes.jpg);
    background-size: cover;
    background-position: center;
}.mission-home:hover{
    color: #011F26;
}
#mission-titre, #mission-text,.lien-landing, .lien-present,.para-present{
    font-weight: 600;
}.card-mission{
    background-color: $disable;
    // padding: 5px;
    font-family: 'Exo 2', sans-serif;
    margin: 20px;
    min-width: 350px;
    height: auto;
    padding: 40px;
    border-radius:20px;
    box-shadow: 5px 5px rgb(63, 62, 62);
}.entete-mission{
    display: flex;
    justify-content: space-around;
}.fleche-mission{
    width: 30px;
    margin-left: 10px;
}.titre-mission{
    font-size: 3rem;
    text-align: center;
}
.detail-miss{
    font-size: 1.5rem;
}
.accordion-content{
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    height: auto;
    transition: all 1s;
}.accordion-title{
    // background-color: darkgoldenrod;
    color: black;
    font-size: 2.5rem;
    padding: 5px 10px;
    margin-top: 20px;
    font-family: 'Laila', sans-serif;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}
#img-arrow{
    width: 25px;
}
.soutient{
    background-image: linear-gradient(#d357579b,#e439399b) ,url(../images/pexels-julia.jpg);
    padding: 20px 20px 20px 20px;
    min-height: 300px;  
    background-repeat: no-repeat;
    background-size: cover;
}
.slogan-soutien{
    color: white;
}.actu{

}.art-text{
    color: #011F26;
}
// ########## SLIDE-IN ######
// .slide-left{
//     opacity: 0;
//     transform: translateX(-100%);
//     transition: ease-in-out 0.6s;
// }
// .slide-right{
//     opacity: 0;
//     transform: translateX(100%);
//     transition: transform 0.6s ease-in-out;
// }
.active{
    opacity: 1;
    transform:translateX(0%);
} 
.soutient-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#d357579b,#e439399b) ,url(../images/pexels-bruna-saito-1805843.jpg);
    padding-top: 20px;
    padding: 20px 20px 20px 20px;
    min-height: 200px;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
#agir-titre{
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 20px;
}.contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding: 20px 20px 20px 20px;
    background-color: var(--dark);
    width: 100%;
    color: white;
    background-color: $secondary;
    
}.event{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
// Date evenements
#event-titre{
    text-transform: uppercase;
    color: #011F26;
    text-align: center;
    font-size: 1.5;
}.titre-event{
    font-size: 2.5rem;
    text-transform: uppercase;
}
h3{
    font-size: 2rem;
}
.date{
    display: flex;
    align-items: center; 
    justify-content: center;
}.dateRight{
    display: flex;
    align-items: center;
}#mois{  
    font-family: 'Exo 2', sans-serif; 
    font-size: 1rem; 
}#anee{
    font-size: 1em;
    display: block;
    align-self: flex-end;
    z-index: 5;
    font-family: 'Exo 2', sans-serif;
}#number{
    font-size: 2rem;
    text-align: start;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400
}
// icons reseaux sociaux
.reseau{
    display: block;
    margin: 20px 20px;
}.reseau-s{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}.reseau-foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.arrow-return{
    max-width: 30px;
    height: auto;
}
footer{
    width: 100%;
    bottom: 0;
    padding: 20px 20px;  
    position: static;
}.footer-custom{
    // text-align: center;
    background-color: #a2d6e2;
}.list-foo{
    list-style: none;
}.foo-li,.lie-li{
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: start;
}.logo-1901{
    max-width: 200px;
    height: auto;
}

/* --------ADMIN---------- */
.img-list-admin{
    max-width: 100px;
    height: auto;
}.list-unstyled, .li-list-admin{
    text-decoration: none;
}

    /* ---------MEDIA QUERYS-------------- */
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { 
    
}

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
        .full-screen-menu,.b-menu{
            position: absolute;
            right:  30%;
            list-style: none;
            margin-top: 20px;
        }
        .img-list-admin{
            max-width: 150px;
        }
     }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        .bloc1-he{
            display: flex;
            justify-content: space-between;
        }.bloc2-he{
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
        }.ente-t{
            transform: translate(-50px,30px);
        }.header-nous{
            width: 100%;
            height: auto;
            position: relative;
            z-index:-10;
        }.header-custom{
            // margin-top: 100px;
            width: 100%;
            padding: 30px;
            margin-bottom: 20px;
            position: static;
            min-height: 500px;
            z-index: -100;
            background-position: center;
        }.img-list-admin{
            max-width: 150px;
            height: auto;
        }.landing-head{
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 20px 20px 20px;
            min-height: 400px;
        }.lien-titre{
            text-transform: uppercase;
            color:$texLight;
            font-size: 1.5rem;  
            text-align: center;
            background-color: #011f268e;
            padding: 10px;
            border-radius: 10px;
        }.lien-titre-agir{
            font-size: 3rem;
            color: $texLight;
            text-align: center;
        }
        .lien-present{
            font-size: 1.5rem;
            color:$text
        }
        /*-----------------------NavBar----------------------- */
        nav, .b-menu {
            display: inline-flex;
            position: relative;
            list-style-type: none;
            left: 0 ;
            right: 0 auto;
            transform: translateY(10%);
        } nav, .menu-li{
            color: white;
            text-decoration: none;
            margin-left: 5px;
            font-size: small;
            padding: 5px;
        }.menu-lien{
            background-color: #c2cd7700;
            padding-left: 3px;
            transition: 0.4s;
            font-size: 1rem;
        }.menu-lien:hover{
            color: #011F26;
        }.block-contact{
            font-size: 1.5rem;
            text-align: center;
        }
        .don-li{
            color:#011F26;
            bottom: 20px;
            transform: translateY(-50%);
        }video{
            // max-height: 200px; 
            height: auto;
            width: 100%;
            position: absolute;
            z-index: -99;
            background-size: cover;
            display: block;
            opacity: 0.6;
            top: 500px;
        }.soutient-2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(#d357579b,#e439399b) ,url(../images/pexels-bruna-saito-1805843.jpg);
            padding-top: 20px;
            padding: 20px 20px 20px 20px;
            min-height: 200px;  
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
        }
}

    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  }

    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {  }


