@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit&display=swap');

:root{
    --primary: #F2F2F2;
    --secondary: #025E73;
    --text: #011F26;
    --disable: #A5A692;
    --active: #BFB78F;
    --dark: #3D5A73;
}
*  {
    font-size: 1.3rem;
    color: #011F26; 

    
}

main{
    position: relative;
    min-height: 90vh;
    padding-top: 0;
}
a{
    text-decoration: none;
}
h1{
    color: whitesmoke;
}
.img-list-admin{
    max-width: 150px;
}

/* ----------Start Burger Menu */

/* show responsive menu and position at the right of the screen */
#menu {
 display: none; 
margin: 0;
right: 0;
top: 0;
/* height: 100vh; */
z-index: 99;
transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
/* ******************** HAMBURGER ICON ******************** */
/* define size and position of the hamburger link */
#hamburger_icon {
display: block;
position: relative;
margin: 16px;
width: 33px;
height: 28px;
z-index: 100;
user-select: none;
cursor: pointer;
right: 0;
}
/* define the style (size, color, position, animation, ...) of the 3 spans */
#hamburger_icon span {
display: block;
position: absolute;
height: 4px;
width: 100%;
margin-bottom: 5px;
background: #ededed;
border-radius: 3px;
z-index: 100;
opacity: 1;
left: 0;
transform: rotate(0deg);
transition: 0.25s ease-in-out;
}
/* set the 3 spans position to look like a hamburger */
#hamburger_icon span:nth-child(1) {
top: 0px;
transform-origin: left top;
}
#hamburger_icon span:nth-child(2) {
top: 12px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}
#hamburger_icon span:nth-child(3) {
top: 24px;
-webkit-transform-origin: left bottom;
-moz-transform-origin: left bottom;
-o-transform-origin: left bottom;
transform-origin: left bottom;
}
/* change color when opening the menu */
#hamburger_icon.open span {
background: rgb(245, 245, 245);
}
/* the first span rotates 45° \ */
#hamburger_icon.open span:nth-child(1) {
width: 110%;

transform: rotate(45deg);
}
/* the second span disappears */
#hamburger_icon.open span:nth-child(2) {
width: 0%;
opacity: 0;
}
/* the last span rotates -45° / */
#hamburger_icon.open span:nth-child(3) {
width    : 110%;
transform: rotate(-45deg);
}
/* ------Fin Burger Menu */
.full-screen-menu,.menu-lien{
    background-color: #282921ea;
    position: relative;
    width: 100%;
    height: 100%;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    color: white;
    
}.full-screen-menu,.b-menu{
    position: absolute;
    right:  20%;
    list-style: none;
    margin-top: 20px;

}.full-screen-menu,.menu-li,.lien-li{
    right: 0 ;
    font-size: large;
    letter-spacing: 4px;
    margin-top: 15px;
    font-weight:600;
    text-transform: uppercase
    ;
    color: white;
}
.full-screen-menu,.menu-lien:hover{
    color:#09404d ;
}
header{
    // position: relative;  
    background-color: #09404d ;
    /* display: block; */
    width: 100%;
}video{
    // min-height: 100%; 
    height: auto;
    width: 100%;
    // position: absolute;
    z-index: -99;
    background-size: cover;
    display: block;
    opacity: 0.6;
    left: 0;
    top:15%;

}#log{
    display: block;
    transform: translate(10px, 10px);
    max-width: 100px;
    height: auto;   
}.bloc2-he{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.entete-agir{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.bloc1-he{
    display: flex; 
    justify-content: space-between;
}.don{
    background-color:#F2A71B;
    padding: 5px 60px;
    text-transform: uppercase;
    margin-bottom: 20px;  
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    text-decoration: none;
    padding: 5px 60px;
    margin-bottom: 20px;  
    transform: translate(30px);
    border-radius: 50px;
}.don:hover{
    background-color:#011F26;
    color: white;
    transition: 0.6s;
}.don-li{
    color:#011F26;
    transform: translateY(-50%);
}.ente-t{
    text-transform: uppercase;
    color: white;
    transform: translate(10px, 50px);
}.lien-titre{
    text-transform: uppercase;
    color: var(--text);
}
.lien-present{
    color: #011F26;
}.nous{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    background-image: linear-gradient(#cdc5c558,#cdc5c5db) ,url(../images/mikael-blomkvist.jpg);
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}.mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    min-height: 300px;
    background-image: linear-gradient(#bfb78f7c,#bfb78fa9) ,url(../images/qui_sommes.jpg);
    background-size: cover;
    background-position: center;
}.mission-home:hover{
    color: #011F26;
}
#mission-titre, #mission-text{
    font-weight: 600;
}.card-mission{
    background-color:  #BFB78F;
    // padding: 5px;
    font-family: 'Exo 2', sans-serif;
    margin: 20px;
    max-width: 350px;
    height: auto;
}.entete-mission{
    display: flex;
    justify-content: space-around;
}
.fleche-mission{
    width: 30px;
    margin-left: 10px;
}
.accordion-content{
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    height: auto;
    transition: all 1s;
}.accordion-title{
    // background-color: darkgoldenrod;
    color: black;
    font-size: 1.6rem;
    padding: 5px 10px;
    margin-top: 20px;
    font-family: 'Laila', sans-serif;
    font-weight: 400;
    cursor: pointer;
}.accordion-title:hover{
   
}
#img-arrow{
    width: 25px;
}
.soutient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#d357579b,#e439399b) ,url(../images/volontaires.jpg);
    padding: 20px 20px 20px 20px;
    min-height: 300px;  
    background-repeat: no-repeat;
    background-size: cover;
}
.slogan-soutien{
    color: white;
}.actu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;  
}.art-text{
    color: #011F26;
}
// ########## SLIDE-IN ######
// .slide-left{
//     opacity: 0;
//     transform: translateX(-100%);
//     transition: ease-in-out 0.6s;
// }
// .slide-right{
//     opacity: 0;
//     transform: translateX(100%);
//     transition: transform 0.6s ease-in-out;
// }
.active{
    opacity: 1;
    transform:translateX(0%);
} 
.soutient-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#d357579b,#e439399b) ,url(../images/pexels-bruna-saito-1805843.jpg);
    padding-top: 20px;
    padding: 20px 20px 20px 20px;
    min-height: 200px;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
#agir-titre{
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 20px;
}.contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding: 20px 20px 20px 20px;
    background-color: var(--dark);
    width: 100%;
    color: white;
}
// Date evenements
#event-titre{
    text-transform: uppercase;
    color: #011F26;
}
.date{
    display: flex;
    /* align-items: center; */
    justify-content: start;
    /* align-items: flex-start; */
}.dateRight{
    display: flex;
    align-items: center;
}#mois{  
    font-family: 'Exo 2', sans-serif;  
}#anee{
    font-size: 1em;
    display: block;
    align-self: flex-end;
    z-index: 5;
    font-family: 'Exo 2', sans-serif;
}#number{
    font-size: 2.5em;
    text-align: start;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400
}
// icons reseaux sociaux
.reseau{
    display: block;
    margin: 20px 20px;
}.reseau-s{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}.reseau-foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.arrow-return{
    max-width: 30px;
    height: auto;
}
footer{
    width: 100%;
    bottom: 0;
    padding: 20px 20px;  
}.footer-custom{
    // text-align: center;
    background-color: #a2d6e2;
}.list-foo{
    list-style: none;
}.foo-li,.lie-li{
    color: black;
    // text-transform: uppercase;
    font-weight: 500;
}

/* --------ADMIN---------- */
.img-list-admin{
    max-width: 150px;
}.list-unstyled, .li-list-admin{
    text-decoration: none;
}

    /* ---------MEDIA QUERYS-------------- */
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { 
    
}

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
        .full-screen-menu,.b-menu{
            position: absolute;
            right:  30%;
            list-style: none;
            margin-top: 20px;
        }
        .img-list-admin{
            max-width: 150px;
        }
     }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        .bloc1-he{
            display: flex;
            justify-content: space-between;
        }.bloc2-he{
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
        }.ente-t{
            transform: translate(-50px,30px);
        }.header-nous{
            width: 100%;
            height: auto;
            position: relative;
            z-index:-10;
        }.img-list-admin{
            max-width: 150px;
            height: auto;
        }
        /*-----------------------NavBar----------------------- */
        nav, .b-menu {
            display: inline-flex;
            position: relative;
            list-style-type: none;
            left: 0 ;
            right: 0 auto;
            transform: translateY(10%);
        } nav, .menu-li{
            color: white;
            text-decoration: none;
            margin-left: 20px;
            font-size: small;
        }.menu-lien{
            background-color: #c2cd7700;
            padding-left: 3px;
            transition: 0.4s;
        }.menu-lien:hover{
            color: #011F26;
        }
        .don-li{
            color:#011F26;
            bottom: 20px;
            transform: translateY(-50%);
        }video{
            // max-height: 200px; 
            height: auto;
            width: 100%;
            position: absolute;
            z-index: -99;
            background-size: cover;
            display: block;
            opacity: 0.6;
            top: 500px;
        }
}

    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  }

    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {  }