{% extends 'base.html.twig' %}

{% block title %}Edit Jackpot{% endblock %}

{% block body %}
    <h1>Edit Jackpot</h1>

    {{ include('admin_jackpot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_jackpot_index') }}">back to list</a>

    {{ include('admin_jackpot/_delete_form.html.twig') }}
{% endblock %}
