{% extends 'base.html.twig' %}

{% block title %}New Jackpot{% endblock %}

{% block body %}
    <h1>Create new Jackpot</h1>

    {{ include('admin_jackpot/_form.html.twig') }}

    <a href="{{ path('app_admin_jackpot_index') }}">back to list</a>
{% endblock %}
